@model WebAssistedSurvey.Models.Event

@{
    ViewData["Title"] = "Veranstaltung anzeigen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>

<div>
    <h4>Veranstaltungsdetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMultidays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMultidays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Summery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Summery)
        </dd>
    </dl>
    <hr />
    <h4>Umfrageergebnisse</h4>
    @if (Model.Surveys != null && Model.Surveys.Any())
    {
        <ul>
            @foreach (var survey in Model.Surveys)
            {
                <li>
                    @survey.Created
                    | @Html.ActionLink("Anzeigen", "ShowSurvey", "Event", new { id = survey.SurveyID })
                    | @Html.ActionLink("Löschen", "DeleteSurvey", "Event", new { id = survey.SurveyID })
                </li>
            }
        </ul>
    }
    else
    {
        <p>Keine Umfrageergebnisse vorhanden.</p>
    }
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventID">Bearbeiten</a> |
    <a asp-action="Index">Zur&uuml;ck</a>
</div>
